*{
	font-family: sans-serif;
	box-sizing: border-box;
}
.open-popup{
	background-color: #555;
	color: white;
	border: none;
	cursor: pointer;
	padding: 16px 20px;
	opacity: 0.8;
	width: 280px;
	position: fixed;
	bottom: 23px;
	right: 28px;
}
.form-popup{
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 5px solid #f1f1f1;
	z-index: 9;
}
.form-container{
	max-width: 300px;
	padding: 10px;
	background-color: white;
}
.form-container input[type='text'],
.form-container input[type='password']{
	width: 100%;
	padding: 15px;
	margin: 5px 0 20px 0;
	border: none;
	background-color: #f1f1f1;
}
.form-container input[type='text']:focus,
.form-container input[type='password']:focus{
	background-color: #ddd;
	outline: none;
}
.form-container .btn{
	background-color:#4CAF50;
	color: white;
	border: none;
	cursor: pointer;
	padding: 16px 20px;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}
.form-container .cancel{
	background-color: red;
}
.form-container .btn:hover,
.open-popup:hover{
	opacity: 1;
}
